@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background-color: #ffffff;
}
.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.main-index {
  color: #000000;
  background-color: #ffffff;
  background-image: url("/images/Главная\ страница/divider.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: bottom;
}

.advantages-list {
  text-align: center;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 21px;
  line-height: 18px;
  text-transform: uppercase;
}

.index-columns {
  color: #333333;
  background-color: #83B3D3;
}

.search-form {
  text-align: center;
}

.subscription {
  font-size: 30px;
  line-height: 36px;
  font-weight: 700;
  background-image: url("/images/Главна\ страница/background.jpg");
}

.subscription-form {
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
}

.subscription-button {
  color: #ffffff;
  background-color: #83B3D3;
}

.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}

.page-footer .htmlacademy-link {
  font-size: 14px;
  color: #dbb590;
}

.footer-contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
}