@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background-color: #ffffff;
}
.button {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}
.button-blue{
  font-family: "PT Sans";
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase; 
  position: absolute;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}

.navigation-link {
  font-family: "PT Sans", sans-serif;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
}

.main-index {
  color: #000000;
  background-image: url("../images/main/welcome.svg");
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: absolute;
}
.banner {
  background-image: url("../images/main/divider.svg");
  background-size: cover;
  background-position: bottom;
}
.advantages-list {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
}

.advantages-item-1 {
  background-color: #83B3D3;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
.advantages-item-house {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-food {
  background-color: #FFFFFF;
}

.advantages-item-souvenir{
  background-color: rgba(131, 179, 211, 0.12);
}

.advantages-item-2 { 
  background-color: #83B3D3; 
}
.advantages-item-3 {
  background-color: rgba(131, 179, 211, 0.12);
}
.advantages-item-4 {
  background-color: rgba(131, 179, 211, 0.2);
}
.advantages-item-5 {
  background-color: rgba(131, 179, 211, 0.12);
}


.index-columns {

  
}

.search-form {
  text-align: center;
}

.subscription {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-image: url("../images/main/background.jpg");
}

.subscription-form {
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 60%;
}

.subscription-button {
  color: #ffffff;
  background-color: #83B3D3;
}

.page-footer {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
}


.footer-contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color:#000000;
}
.email-form .input {
  color: rgba (0,0,0,0.6);
  font-size: 18px;
  line-height: 26px;
}

.inner-filter {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  color: #FFFFFF;
}
