*,
*::before,
*::after {
  box-sizing: border-box;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}
html {
height: 100%;
}
body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100%;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  background-color: #ffffff;
}
input {
  background-color: #F2F2F2;
}
.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 100%;
  border: solid #ffffff ;
  flex-grow: 1;
  margin: 0 auto;


}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  font-family: inherit;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;
  text-transform: uppercase;
}

.button-blue {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}

.page-header {
  color: #000000;
  background-color: #ffffff;
}
.navigation {
display: flex;
justify-content: flex-start;
width: 1060px;
margin: 0 auto;
padding-top: 0px;
padding-right: 70px;
padding-bottom: 0px;
padding-left: 70px;
 height: 70px;

}
.navigation-link {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #ffffff;
  text-decoration: none;
  margin: 0;
  padding: 0;
  width: 456px;
  white-space: nowrap;
}

.navigation-user {
 max-width: 250px;
 margin-left: auto;

}
.navigation-list {
  display: flex;
  justify-content: flex-start;
}

.navigation-item {
  display: flex;
  justify-content: flex-start;
  margin: auto;
  padding-top: 20px;
  padding-right: 34px;
  padding-bottom: 20px;
  padding-left: 17px;

}

.main {
  display: flex;
}
.main-container {
  flex-grow: 1;
}
.main-index {
  color: #000000;
  background-color: #ffffff;
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-position: absolute;

}
.page-container {
  width: 1200px;
  margin: 0 auto;
}

.banner {
  background-image: url("../images/main/index-background.jpg");
  background-size: cover;
  position: relative;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;

}


.divider {
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;

  }

.banner-description {

  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.banner-item {
  text-align: center;
  color: #333333;
  font-size: 22px;
}

.advantages-list {
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  padding-left: 0;
  list-style: none;
}
.advantages-list ul {
  padding-left: 0;
  list-style: none;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}
 .advantages-title-white {
   color: #FFFFFF;
   text-transform: uppercase;
   font-size: 24px;
   line-height: 28px;
 }

.advantages-item-1 {
  background-color: #83B3D3;
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}

.advantages-item-house {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages-item-food {
  background-color: #FFFFFF;
  color: #333333;
}

.advantages-item-souvenir {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages-item-2 {
  background-color: #83B3D3;
}

.advantages-item-3 {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}

.advantages-item-4 {
  background-color: rgba(131, 179, 211, 0.2);
  color: #333333;
}

.advantages-item-5 {
  background-color: rgba(131, 179, 211, 0.12);
  color: #333333;
}
.big-strong-text {
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
}

.search-description {
  color: #333333;
  text-align: center;
  font-size: 22px;
  line-height: 26px;
}
.button-button-search {
  font-size: 20px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #756257;
  font-weight: 700;
  text-decoration: none;

}

.subscription-main {
  font-size: 22px;
  line-height: 26px;
  font-weight: 400;
  background-image: url("../images/main/background.jpg");
  text-align: center;
  color: #FFFFFF;
}
.subscription-title{
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}
.subscription-form {
  line-height: 26px;
  font-weight: 400;
  text-transform: uppercase;
  opacity: 60%;
}

.subscription-button {
  color: #ffffff;
  background-color: #83B3D3;
  text-transform: uppercase;
}

.page-footer {
  display: flex;
  font-size: 14px;
  font-weight: 700;
  color: #000000;
  background-color: #ffffff;
  text-align: center;
}


.footer-contacts-phone {
  font-family: "PT Sans", sans-serif;
  font-size: 40px;
  line-height: 40px;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
}

.email-form .input {
  color: rgba (0, 0, 0, 0.6);
  font-size: 18px;
  line-height: 26px;
}

.inner-filter {
  background-image: url("../images/catalog/catalog-background.jpg");
  background-size: cover;
  color: #FFFFFF;
}
.inner-header-title {
  font-size: 60px;
  line-height: 78px;
}
.catalog-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
}
.button-blue-apply {
  font-size: 16px;
  text-transform: uppercase;
  line-height: 21px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  position: absolute;
  font-family: "PT Sans", sans-serif;

}
.reset {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  color: #FFFFFF;
}
.sorting-result {
  font-size: 30px;
  line-height: 39px;
  text-transform: uppercase;
}
.hotel-card-title {
  font-size: 24px;
  line-height: 31px;
  color:#000000;
  text-decoration: none;
}
.hotel-type {
  color: #333333;
  line-height: 23px;
}
.hotel-card-price {
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
.hotel-card-rating {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #333333;
  background: #F2F2F2;
}
.button-detail {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  font-family: inherit;

  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #756257;
  text-decoration: none;

}
.button-blue-favorite {
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
}
.button-green {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #7DB54F;
  text-decoration: none;
}
.button-blue-download {

  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}
.pagination ul {
  position: absolute;
  padding-left: 0;
  list-style: none;
  display: inline-block;


}
.pagination-item {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  display: inline-block;


  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}
.pagination-link {
  color: #FFFFFF;
  background-color: #83B3D3;
  text-decoration: none;

}
.pagination-link-current {
  background-color: #F2F2F2;
  color: #000000;
}

.subscription-title-catalog {
  font-weight: 700;
  font-size: 30px;
line-height: 36px;
text-align: center;
text-transform: uppercase;
}
.subscription-description-catalog {
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}
.button-subscribe {
  font-family: "PT Sans", sans-serif;
  font-size: 20px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  color: #ffffff;
  background-color: #83B3D3;
  text-decoration: none;
  text-transform: uppercase;
}
.catalog-filter-item {
  list-style: none;
}
.breadcrumbs {
  list-style: none;
}
.search {
  text-align: center;
}

